<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        color: white;
        margin: 0;

        text-shadow: 1px 1px 10px #000;
        /*배경에 글자가 묻혀서 글자 테두리*/
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      #mid {
        text-align: center;
      }

      #clock {
        font-size: 70px;
        background-color: transparent;
        border: none;
        color: white;
      }

      #greeting {
        text-align: center;
        background-color: transparent;
        color: white;
        font-size: 60px;
      }

      #login-form {
        background-color: transparent;
        color: white;
        font-size: 50px;
      }

      #todo-list {
        font-size: 30px;
        color: white;
        list-style-type: none;
      }

      #quote {
        font-size: 30px;
        background-color: transparent;
        border: none;
        color: white;
      }

      #weather {
        font-size: 30px;
        background-color: transparent;
        position: fixed;
        top: 30px;
        left: 30px;
        color: white;
      }

      weather .active {
        color: tomato;
      }

      .clicked {
        color: tomato;
      }

      .hidden {
        display: none;
      }

      .bgImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        animation: fadeIn 0.5s linear;
      }
    </style>
    <!--<link rel="stylesheet" href="css/style.css" />-->
    <title>Momentum App</title>
  </head>
  <body>
    <div id="weather">
      <span></span>
      <span></span>
    </div>
    <div class="row" id="mid" style="margin: 200px">
      <h2 id="clock">00:00</h2>
      <form class="hidden" id="login-form">
        <input
          required
          maxlength="15"
          type="text"
          placeholder="what is your name?"
        />
        <input type="submit" value="Log in" />
      </form>
      <h1 class="hidden" id="greeting"></h1>
      <form id="todo-form">
        <input type="text" placeholder="what is your plan?" required />
      </form>
      <ul id="todo-list"></ul>

      <div id="quote">
        <span></span>
        <span></span>
      </div>
    </div>
    <div
      id="LED"
      style="
        position: fixed;
        right: 32px;
        top: 32px;
        background: rgba(0, 0, 0, 0.5);
        padding: 0 10px;
      "
    >
      <h1>Control LED on the Web</h1>
      <!--hr은 수평 가로줄을 그려줌-->
      <hr />

      <div style="padding-left: 20px">
        <!--h3는 중간크기 글씨로 글자를 써줌-->
        <h3>LED Switch</h3>
        <!--p는 위아래로 한줄 띄어서 글자를 써줌-->
        <p style="color: red">
          <!--b는 글자를 굵게(bold) 표시함-->
          <b>RED LED: </b>
          <!--버튼을 만들어서, 버튼을 누르면 파이썬 코드의 LED_control, LED_blink 함수가 실행됨-->
          <!--color와 state는 함수의 입력인자-->
          <a href="{{ url_for('LED_control', color='red', state=1) }}"
            ><input type="button" value="ON"
          /></a>
          <a href="{{ url_for('LED_blink', color='red') }}"
            ><input type="button" value="blink"
          /></a>
          <a href="{{ url_for('LED_control', color='red', state=0) }}">
            <input type="button" value="OFF" />
          </a>
          <!--ON, OFF 버튼을 누르면 파이썬 파일의 LED_control 함수가 실행되며, 함수에 color와 state를 넘겨줌-->
          <!--blink 버튼을 누르면 파이썬 파일의 LED_blink 함수가 실행되며, 함수에 color를 넘겨줌-->
        </p>
        <p style="color: green">
          <b>GREEN LED: </b>
          <a href="{{ url_for('LED_control', color='green', state=1) }}"
            ><input type="button" value="ON"
          /></a>
          <a href="{{ url_for('LED_blink', color='green') }}"
            ><input type="button" value="blink"
          /></a>
          <a href="{{ url_for('LED_control', color='green', state=0) }}">
            <input type="button" value="OFF" />
          </a>
        </p>
        <p style="color: blue">
          <b>BLUE LED: </b>
          <a href="{{ url_for('LED_control', color='blue', state=1) }}"
            ><input type="button" value="ON"
          /></a>
          <a href="{{ url_for('LED_blink', color='blue') }}"
            ><input type="button" value="blink"
          /></a>
          <a href="{{ url_for('LED_control', color='blue', state=0) }}">
            <input type="button" value="OFF" />
          </a>
        </p>
        <hr />
        <h3>Magic switch</h3>
        <p style="padding-left: 50px">
          <a href="{{ url_for('whole_control', state=1) }}">
            <input type="button" value="ON"
          /></a>
          <a href="{{ url_for('whole_control', state=2) }}">
            <input type="button" value="blink"
          /></a>
          <a href="{{ url_for('whole_control', state=0) }}">
            <input type="button" value="OFF" />
          </a>
          <!--ON, OFF 버튼을 누르면 파이썬 파일의 whole_control 함수가 실행되며, 함수에 state 0 혹은 1을 넘겨줌-->
          <!--3 sec 버튼을 누르면 파이썬 파일의 whole_control 함수가 실행되며, 함수에 state 2를 넘겨줌-->
        </p>
        <hr />
      </div>
    </div>

    <!--<script src="js/greetings.js"></script>-->
    <script>
      const loginForm = document.querySelector("#login-form");
      const loginInput = document.querySelector("#login-form input");
      const greeting = document.querySelector("#greeting");

      function onSubmit(event) {
        event.preventDefault();
        loginForm.classList.add("hidden");
        const username = loginInput.value;
        localStorage.setItem("username", username);
        paintGreeting(username);
      }

      loginForm.addEventListener("submit", onSubmit);

      function paintGreeting(username) {
        greeting.innerText = `Hello ${username}!`;
        greeting.classList.remove("hidden");
      }

      const saveUsername = localStorage.getItem("username");

      if (saveUsername === null) {
        loginForm.classList.remove("hidden");
        loginForm.addEventListener("submit", onSubmit);
      } else {
        paintGreeting(saveUsername);
      }

      const removeBtn = document.querySelector(".remove_storage");

      function removeStorage() {
        localStorage.removeItem("username");
        window.location.reload();
      }
    </script>
    <!--<script src="js/clock.js"></script>-->
    <script>
      const clock = document.querySelector("h2#clock");
      function getClock() {
        const date = new Date();
        const hours = String(date.getHours()).padStart(2, "0");
        const minutes = String(date.getMinutes()).padStart(2, "0");
        const seconds = String(date.getSeconds()).padStart(2, "0");
        clock.innerText = `${hours}:${minutes}:${seconds}`;
      }
      getClock();
      setInterval(getClock, 1000);
    </script>
    <!--<script src="js/quotes.js"></script>-->
    <script>
      const quotes = [
        {
          quote: "The best way to predict the future is to create it.",
          author: "Peter Drucker",
        },
        {
          quote: "Happiness is an uphill battle. Wear the good shoes.",
          author: "Kurt Vonnegut",
        },
        {
          quote: "Without ice cream, there would be chaos and darkness.",
          author: "Don Kardong",
        },
        {
          quote: "When things go wrong, don't go with them.",
          author: "Elvis Presley",
        },
        {
          quote: "Happiness is a warm puppy.",
          author: "Charles M. Schulz",
        },
        {
          quote: "Happiness never decreases by being shared.",
          author: "Buddha",
        },
        {
          quote: "Happiness is a choice. You can choose to be happy.",
          author: "Anonymous",
        },
        {
          quote:
            "Happiness is not something ready made. It comes from your own actions.",
          author: "Dalai Lama",
        },
        {
          quote:
            "Happiness is not a goal... it's a by-product of a life well lived.",
          author: "Eleanor Roosevelt",
        },
        {
          quote:
            "Happiness is not a goal... it's a by-product of a life well lived.",
          author: "Eleanor Roosevelt",
        },
      ];

      const quote = document.querySelector("#quote span:first-child");
      const author = document.querySelector("#quote span:last-child");

      const todaysQuote = quotes[Math.floor(Math.random() * quotes.length)];

      quote.innerText = todaysQuote.quote;
      author.innerText = todaysQuote.author;
    </script>
    <!--<script src="js/background.js"></script>-->
    <script>
      const images = ["0.jpeg", "1.jpeg", "2.jpeg", "3.jpeg", "4.jpeg"];

      const chosenImage = images[Math.floor(Math.random() * images.length)];

      const bgImage = document.createElement("img");
      bgImage.src = `img/${chosenImage}`;

      document.body.appendChild(bgImage);
      bgImage.classList.add("bgImage");
    </script>
    <!--<script src="js/todo.js">-->
    <script>
      const toDoForm = document.getElementById("todo-form");
      const toDoInput = toDoForm.querySelector("input");
      const toDoList = document.getElementById("todo-list");

      const TODOS_key = "todos";

      let toDos = [];

      function saveToDos() {
        localStorage.setItem("todos", JSON.stringify(toDos));
      }
      function deleteToDo(event) {
        const li = event.target.parentElement;
        li.remove();
        toDos = toDos.filter((toDo) => toDo.id !== parseInt(li.id));
        saveToDos();
      }

      function paintToDo(newTodo) {
        const li = document.createElement("li");
        li.id = newTodo.id;
        const span = document.createElement("span");
        span.innerText = newTodo.text;
        const button = document.createElement("button");
        button.innerText = "✔️";
        //emoji option ✔️ ✔️
        button.addEventListener("click", deleteToDo);
        li.appendChild(span);
        li.appendChild(button);
        toDoList.appendChild(li);
        //console.log(li);
        //   li.id = newTodoObj.id;
        //   const span = document.createElement("span");
        //   span.innerText = newTodoObj.text;
        //   const button = document.createElement("button");
        //   button.innerText = "❌";
        //   li.appendChild(span);
        //   li.appendChild(button);
        //   toDoList.appendChild(li);
        // }
      }

      function handleToDoSubmit(event) {
        event.preventDefault();
        const newTodo = toDoInput.value;
        toDoInput.value = "";
        const newTodoObj = {
          text: newTodo,
          id: Date.now(),
        };
        toDos.push(newTodoObj);
        paintToDo(newTodoObj);
        saveToDos();
        //   const newTodoObj = {
        //     text: newTodo,
        //     id: Date.now(),
        //   };
        //   toDos.push(newTodoObj);
        //   paintToDo(newTodoObj);
        //saveToDos();
      }

      toDoForm.addEventListener("submit", handleToDoSubmit);

      function sayHello(item) {
        console.log("this is the turn of", item);
      }
      const savedToDos = localStorage.getItem(TODOS_key);

      if (savedToDos !== null) {
        const parsedToDos = JSON.parse(savedToDos);
        toDos = parsedToDos;
        //parsedToDos.forEach(paintToDo);
        parsedToDos.forEach(paintToDo);
      }
    </script>
    <!--<script src="js/weather.js"></script>-->
    <script>
      const API_KEY = "c942f5d1e10d4b2cb4c8f53f599fccd9";

      function onGeoOk(position) {
        const lat = position.coords.latitude;
        const lng = position.coords.longitude;
        console.log("You live in", lat, lng);
        const url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lng}&appid=${API_KEY}&units=metric`;
        fetch(url)
          .then((Response) => Response.json())
          .then((data) => {
            const weather = document.querySelector("#weather span:first-child");
            const city = document.querySelector("#weather span:last-child");
            city.innerText = data.name;
            weather.innerText = `${data.weather[0].main} / ${data.main.temp}℃ `;
          });
      }

      function onGeoError() {
        alert("Can't find you. No weather for you.!!");
      }

      navigator.geolocation.getCurrentPosition(onGeoOk, onGeoError);
    </script>
  </body>
</html>
